<div class="row hero logo">
 <%= image_tag("key-logo-horiz.png", :class => "logo", :alt => "key-logo-horiz") %>
  <h3>This is your Auth Token Key.</h3>
  <h5>There are many like it but this one is yours.</h5>
</div>
<% if current_user.auth_token_flag == true %>
  <div class="row well">
    <h2 class="col-3 key-code"><%= @user.auth_token %></h2>
    <div class="col-3 push-right-5 key-toggle">
        <%= link_to "Regenerate Key", users_regenerate_path, class: "btn primary"%>
        <%= link_to "Deactivate Key", users_deactivate_path, class: "btn secondary"%>
    </div>
  </div>
   <div class="row help">If you feel your key has been compromised, click regenerate to delete your current key and populate a new one.</div>
   <div class="row actions">
     <a href="#" class="btn btn-wide thirdy">
       <h3>Next, this is how you use it. ➜</h3>
     </a>
   </div>
<% else %>
  <div class="row well">
    <h2 class="col-3 key-code deactive"><%= @user.auth_token %></h2>
    <div class="col-3 push-right-5 key-toggle">
      <%= link_to "Reactivate Key", users_reactivate_path, class: "btn btn-wide thirdy "%>
    </div>
  </div>
   <div class="row help deactive">Your Auth Token has been deactivated! None of your apps will work until you reactivate the Auth Token.</div>
<% end %>
